<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Here You Can Post A Blog</h1>
    <form action="/create" method="post" >
        <input
            type="text"
            name="title"
            placeholder="Title" 
        />
        <br><br>
        <textarea
            name="content"
            placeholder="Content" 
        ></textarea>
        <br><br>
        <button>Send</button>
    </form>
</body>
</html>