<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>It Time For Edit</h1>
    <form  action="/edit/<%= blog.id %>" method="post" >
        
        <input 
            name="title" 
            value="<%=blog.title%>" 
        />
        <br><br>
        
        <textarea name="content"><%= blog.content %></textarea>
        <br><br>
        
        <button>Update</button>
    </form>
</body>
</html>